<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')  %> 

<body class="d-flex flex-column min-vh-100">
    
    <!-- nav -->
    <%- include('./partials/nav.ejs')  %> 
    <div class="coreСontainer">
<div class="blogs-content"> 
    <div class="blog">   
        <div class="container basicData">
            <img src="../image/<%= blog.fileName %>" alt="./image/<%= blog.fileName %>">
            <h1 class="title"><%= blog.title %> </h1>
            <!-- <p class="snippet"><%= blog.snippet %> </p> -->
            <p class="bodyBlog"><%= blog.body %> </p>
        </div> 
    
    <div class="timeCreate"> 
        <%= blog.createdAt.getDate() %>.<%= blog.createdAt.getMonth() %>.<%= blog.createdAt.getFullYear() %>  
    </div>
</div>
</div>

<a class="deleteBlog" data-doc="<%= blog._id %>" href=""><button>Delete</button></a> 
</div>
<script>
    const excretionNav = document.querySelector('.text-secondary') 
        excretionNav.classList.remove("text-secondary")
        excretionNav.classList.add('text-white')
    const trachcan = document.querySelector('a.deleteBlog')
    trachcan.addEventListener('click',(e)=>{
        const endpoint = `/blogs/${trachcan.dataset.doc}`
        fetch(endpoint,{
            method: 'DELETE'
        })
        .then((response)=>{
            response.json().redirect})
        .then((data)=>{;
            window.location.href = '/blogs'
        })
        .catch(err=>console.log(err))
    })


</script>


<%- include('./partials/footer.ejs')  %> 
</body>
</html>